h1 {
  font-weight: bold;
  font-size: 50px;
  font: "Arial";
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(123, 243, 223, 0.7);
  min-height: 90px; }

img {
  margin: 20px; }
