<div class="container">
    <header class="text-center"><h1>Добро пожаловать в эту потрясающую галлерею</h1></header>
    <div [innerHTML]="createNinePicture()"></div>
    <div class="row">
        <div class="span6">
            <form>
               <input type="file" name="picture">
               <button class="btn btn-default">Загрузить</button>    
            </form>
        </div>
        <div class="span4 offset">
        </div>
        <div class="span2">
            <button class="btn btn-default">Отправить</button>
        </div>
        <div class="span12">
            <div id="image"></div>
        </div>
    </div>
</div>